<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
<title>Sistema</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img th:src="@{/images/sdv1.png}" width="50" height="50">
    <a class="navbar-brand" href="#"></a>
  <a class="navbar-brand" th:href="@{/}">Sistema de ventas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/administracion/principal}">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empleados</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/administracion/registrar}">Registrar nuevo Empleado</a>
          <a class="dropdown-item" th:href="@{/administracion/empleadosListar}">Listado de Empleados</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/administracion/productoAñadir}">Añadir Productos</a>
          <a class="dropdown-item" th:href="@{/administracion/inventario}">Inventario</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proveedores</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/administracion/registrarProveedor}">Registrar nuevo proveedor</a>
          <a class="dropdown-item" th:href="@{/administracion/listarProveedores}">Listado de proveedores</a>
        </div>
      </li>
    </ul> 
    <form class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-danger" th:href="@{/logout}">Salir</a>
    </form>
  </div>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
    <h1 class="display-3"></h1>
    <h1 class="display-3"></h1>
      <h1 class="display-3">Bienvenido administrador!</h1>
      <p>En este nivel se pueden manejar aspectos más importantes del sistema como el registro maestro de empleados, productos y proveedores.</p>
      <p><a class="btn btn-primary btn-lg" th:href="@{/administracion/inventario}" role="button">Visualizar inventario&raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      
      <div class="col-md-4">
        <h2>Eliminar Empleado</h2>
        	<form class="form-inline my-2 my-lg-0" th:action="@{/administracion/empleadosEliminar}">
				<input class="form-control mr-sm-2" type="number"
					placeholder="Search" aria-label="Search" id="idEmpleado" name="idEmpleado">
				<button class="btn btn-outline-danger" type="submit">Eliminar</button>
			</form>
		<p>Ingrese el id del empleado y este sera eliminado permanentemente de la base de datos. Al presionar eliminar el sistema desplegara los detalles del empleado a eliminar.</p>
        <p><a class="btn btn-secondary" th:href="@{/administracion/empleadosListar}" role="button">Listado de empleados &raquo;</a></p>
      </div>
      
      <div class="col-md-4">
        <h2>Listar proveedores</h2>
		<p>Listado de todos los proveedores en la base de datos</p>
        <p><a class="btn btn-secondary" th:href="@{/administracion/listarProveedores}" role="button">Listado de proveedores &raquo;</a></p>
      </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>



<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>