<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
<title>Registrar Producto</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
 
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img th:src="@{/images/sdv1.png}" width="50" height="50">
    <a class="navbar-brand" href="#"></a>
  <a class="navbar-brand" th:href="@{/}">Sistema de ventas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/administracion/principal}">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empleados</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/administracion/registrar}">Registrar nuevo Empleado</a>
          <a class="dropdown-item" th:href="@{/administracion/empleadosListar}">Listado de Empleados</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/administracion/productoAñadir}">Añadir Productos</a>
          <a class="dropdown-item" th:href="@{/administracion/inventario}">Inventario</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proveedores</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/administracion/registrarProveedor}">Registrar nuevo proveedor</a>
          <a class="dropdown-item" th:href="@{/administracion/listarProveedores}">Listado de proveedores</a>
        </div>
      </li>
    </ul> 
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger" type="submit">Salir</button>
    </form>
  </div>
</nav>

<main role="main">

	<div class="jumbotron">
    <div class="container">
    <h1 class="display-3"></h1>
      <h1 class="display-3"> </h1>
      <h1 class="display-3"> </h1>
      <h1 class="display-3">Registrar nuevo Producto</h1>
      <p>Al ingresar un producto, este se guardara automaticamente en la base de datos.</p>
    </div>
  	</div>
		
		<hr>
		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Registro de cliente</strong>
				</h4>
				<div class="card-body">
					<form th:action="@{/administracion/crearProducto}" method="post">
						<div class="form-group">
							<label for="exampleInputEmail1">IdProducto</label> <input
								type="number" class="form-control" id="idProducto" name="idProducto"
								placeholder="ingrese un id para el producto" min="5000" max="9999">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Nombre</label> <input type="text"
								class="form-control" id="nombre" name="nombre"
								placeholder="ingrese el nombre del producto">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Unidad</label> <input
								type="text" class="form-control" id="unidad" name="unidad"
								placeholder="ingrese la unidad de medida">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">precio</label> <input
								type="text" class="form-control" id="precio" name="precio"
								placeholder="ingrese el precio del producto">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">descripcion</label> <input
								type="text" class="form-control" id="descripcion" name="descripcion"
								placeholder="escriba una descripcion del producto">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">cantidad</label> <input
								type="number" class="form-control" id="cantidad" name="cantidad"
								placeholder="Asigne una contraseña para el usuario" min="1" max="1000">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">idProveedor</label> <input
								type="number" class="form-control" id="idProveedor" name="idProveedor"
								placeholder="Asigne una contraseña para el usuario" min="4000" max="4999">
						</div>
						<button type="submit" class="btn btn-primary">Registrar</button>
				</div>
					</form>
				</div>
			</div>
		</div>
	</main>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>