<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
<title>Inventario</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img th:src="@{/images/sdv1.png}" width="50" height="50">
    <a class="navbar-brand" href="#"></a>
  <a class="navbar-brand" th:href="@{/}">Sistema de ventas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/administracion/principal}">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empleados</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/administracion/registrar}">Registrar nuevo Empleado</a>
          <a class="dropdown-item" th:href="@{/administracion/empleadosListar}">Listado de Empleados</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/administracion/productoAñadir}">Añadir Productos</a>
          <a class="dropdown-item" th:href="@{/administracion/inventario}">Inventario</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proveedores</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/administracion/registrarProveedor}">Registrar nuevo proveedor</a>
          <a class="dropdown-item" th:href="@{/administracion/listarProveedores}">Listado de proveedores</a>
        </div>
      </li>
    </ul> 
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger" type="submit">Salir</button>
    </form>
  </div>
</nav>

<main role="main">

	<div class="jumbotron">
    <div class="container">
    <h1 class="display-3"></h1>
      <h1 class="display-3"> </h1>
      <h1 class="display-3"> </h1>
      <h1 class="display-3">Inventario</h1>
      <p>Este es el registro maestro de productos en donde se puede visualizar todo el inventario a detalle.</p>
    </div>
  	</div>		
		
	</main>


	</header>
	<table  class="table table-hover" >
	<thead class="thead-dark">
		<tr>
			<th>IdProducto</th>
			<th>Nombre</th>
			<th>Unidad</th>
			<th>Precio</th>
			<th>Descripcion</th>
			<th>Cantidad</th>
			<th>Idproveedor</th>
		</tr>
	</thead>
	<tr th:each="tmpProducto:${productos}">
	<td th:text="${tmpProducto.idProducto}"></td>
	<td th:text="${tmpProducto.nombre}"></td>
	<td th:text="${tmpProducto.unidad}"></td>
	<td th:text="${tmpProducto.precio}"></td>
	<td th:text="${tmpProducto.descripcion}"></td>
	<td th:text="${tmpProducto.cantidad}"></td>
	<td th:text="${tmpProducto.proveedor.idProveedor}"></td>
	</tr>
	</table>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>