<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
<title>Sistema</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img th:src="@{/images/sdv1.png}" width="50" height="50">
    <a class="navbar-brand" href="#"></a>
  <a class="navbar-brand" th:href="@{/}">Sistema de ventas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/sistema/principal}">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clientes</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/sistema/registrar}">Registrar nuevo Cliente</a>
          <a class="dropdown-item" th:href="@{/sistema/listarClientes}">Listar Clientes</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Direcciones</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/sistema/añadirDireccion}">Añadir direccion</a>
          <a class="dropdown-item" th:href="@{/sistema/listarDirecciones}">Listado de direcciones</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pedido</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/sistema/registrarPedido}">Registrar Pedido</a>
          <a class="dropdown-item" href="#">Registro de Pedidos</a>
        </div>
      </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Despacho</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Ordenes procesadas</a>
          <a class="dropdown-item" href="#">Borrador de pedidos</a>
        </div>
      </li>
    </ul> 
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger" type="submit">Salir</button>
    </form>
  </div>
</nav>


<main role="main">


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" align="center" style="height: 350px">
  <div class="col-md-5 p-lg-5 mx-auto my-5" align="center">
    <h1 class="display-4 font-weight-normal">Registrar pedido</h1>
    <p class="lead font-weight-normal">Ingrese el id del cliente asociado con el pedido y asigne un id para el pedido.</p>
    	<div align="center" style="width: 400px">
		<form class="form-inline my-2 my-lg-0" th:action="@{/sistema/generarPedido}" method="post">
			<input class="form-control mr-sm-2" type="number"
				placeholder="Cliente" aria-label="Search" id="idCliente" name="idCliente" min="1" max="999">
			<input class="form-control mr-sm-2" type="number"
				placeholder="Pedido" aria-label="Search" id="idPedido" name="idPedido" min="10000" max="49999">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Crear Pedido</button>
		</form>
		</div>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 1000px; height: 500px">
    <div class="my-3 py-3">
      <h2 class="display-5">Cliente del pedido</h2>
      <p class="lead">Este pedido esta asociado a este cliente.</p>
      	<hr>
      <div class="container" align="center"> 

        <div class="card" style=" width: 400px" align="center">
            <form>
				<div class="card">
					<h4 style=" color: black">Nombre: </h4>
					<label for="colFormlabelSm" th:text="Nombre" style=" color: black"></label>
				</div>
				<div class="card">
					<h4 style=" color: black">Email: </h4>
					<label for="colFormlabelSm" th:text="Email" style=" color: black"></label>
				</div>
				<div class="card">
					<h4 style=" color: black">Telefono: </h4>
					<label for="colFormlabelSm" th:text="Telefono" style=" color: black"></label>
				</div>
				<div class="card">
					<h4 style=" color: black">Credito: </h4>
					<label for="colFormlabelSm" th:text="Credito" style=" color: black"></label>
				</div>		
			</form>
        </div>
      </div> 
    </div>
  </div>
  
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 1000px; height: 500px">
    <div class="my-3 p-3">
      <h2 class="display-5">Direcciones del cliente</h2>
      <p class="lead">Elija una direccion del cliente para el pedido.</p>
      <table  class="table table-hover" >
	<thead class="thead-dark">
		<tr>
			<th>Tipo de direccion</th>
			<th>Direccion</th>
			<th></th>
		</tr>
	</thead>
	<tr each="#">
	<td text="Hogar"></td>
	<td text="La Guadalupe"></td>
	<td>
	</td>
	</tr>
	</table>
    </div>
  </div>
</div>

</main>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>