<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
<title>Detalles</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img th:src="@{/images/sdv1.png}" width="50" height="50">
    <a class="navbar-brand" href="#"></a>
  <a class="navbar-brand" th:href="@{/}">Sistema de ventas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/sistema/principal}">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clientes</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/sistema/registrar}">Registrar nuevo Cliente</a>
          <a class="dropdown-item" href="#">Buscar Cliente</a>
          <a class="dropdown-item" th:href="@{/sistema/listarClientes}">Listar Clientes</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Direcciones</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Añadir direccion</a>
          <a class="dropdown-item" href="#">Direcciones cliente</a>
          <a class="dropdown-item" href="#">Actualizar dirección de cliente</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pedido</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Crear pedido</a>
          <a class="dropdown-item" href="#">Ver pedidos de cliente</a>
          <a class="dropdown-item" href="#">...</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Salir</button>
    </form>
  </div>
</nav>

<main role="main">

	<div class="jumbotron">
    <div class="container">
    <h1 class="display-3"></h1>
      <h1 class="display-3"> </h1>
      <h1 class="display-3"> </h1>
      <h1 class="display-3">Detalles del cliente</h1>
      <p>En esta pagina se muestran todas las direcciones y pedidos del cliente</p>
    </div>
  	</div>		
		
	<hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Detalles</strong></h4>              
          <div class="card-body">
            <form>
				<div class="card">
					<label for="colFormLabelSm">IdCliente: </label>
					<label for="colFormlabelSm" th:text="${cliente.idCliente}"></label>
				</div>
				<div class="card">
					<label for="colFormLabelSm">Nombre: </label>
					<label for="colFormlabelSm" th:text="${cliente.nombre}"></label>
				</div>
				<div class="card">
					<label for="colFormLabelSm">Email: </label>
					<label for="colFormlabelSm" th:text="${cliente.email}"></label>
				</div>
				<div class="card">
					<label for="colFormLabelSm">Telefono: </label>
					<label for="colFormlabelSm" th:text="${cliente.telefono}"></label>
				</div>
				<div class="card">
					<label for="colFormLabelSm">Credito: </label>
					<label for="colFormlabelSm" th:text="${cliente.credito}"></label>
				</div>				
			</form>
          </div>
        </div>
      </div> 
    
    <h1>Direcciones del cliente</h1>
    <table  class="table table-hover" >
	<thead class="thead-dark">
		<tr>
			<th>idDir</th>
			<th>Tipo</th>
			<th>Direccion</th>
		</tr>
	</thead>
	<tr th:each="tmpdireccion:${direcciones}">
	<td th:text="${tmpdireccion.idDireccion}"></td>
	<td th:text="${tmpdireccion.tipo}"></td>
	<td th:text="${tmpdireccion.direccion}"></td>
	</tr>
	</table>
	
	    <h1>Pedidos del cliente</h1>
    <table  class="table table-hover" >
	<thead class="thead-dark">
		<tr>
			<th>idPedido</th>
			<th>fecha</th>
			<th>idDireccion</th>
		</tr>
	</thead>
	<tr th:each="tmpPedidos:${pedidos}">
	<td th:text="${tmpPedidos.idPedido}"></td>
	<td th:text="${tmpPedidos.fecha}"></td>
	<td th:text="${tmpPedidos.idDireccion}"></td>
	</tr>
	</table>
		
	</main>



<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>