<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
<title>Sistema</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img th:src="@{/images/sdv1.png}" width="50" height="50">
    <a class="navbar-brand" href="#"></a>
  <a class="navbar-brand" th:href="@{/}">Sistema de ventas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/sistema/principal}">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clientes</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/sistema/registrar}">Registrar nuevo Cliente</a>
          <a class="dropdown-item" th:href="@{/sistema/listarClientes}">Listar Clientes</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Direcciones</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/sistema/añadirDireccion}">Añadir direccion</a>
          <a class="dropdown-item" th:href="@{/sistema/listarDirecciones}">Listado de direcciones</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pedido</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" th:href="@{/sistema/registrarPedido}">Registrar Pedido</a>
          <a class="dropdown-item" href="#">Registro de Pedidos</a>
        </div>
      </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Despacho</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Ordenes procesadas</a>
          <a class="dropdown-item" href="#">Borrador de pedidos</a>
        </div>
      </li>
    </ul> 
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger" type="submit">Salir</button>
    </form>
  </div>
</nav>


<main role="main">

<div class=" text-center bg-light" align="center" style="height: 120px">
  <div class="col-md-5 p-lg-5 mx-auto my-5" align="center">
    <h1 class="display-4 font-weight-normal">Datos del pedido</h1>
    <p class="lead font-weight-normal"></p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 1000px; height: 500px">
    <div class="my-3 py-3">
      <h2 class="display-5">Cliente del pedido</h2>
      <p class="lead">Este pedido esta asociado a este cliente.</p>
      	<hr>
      <div class="container" align="center"> 

        <div class="card" style=" width: 400px" align="center">
            <form>
				<div class="card">
					<h4 style=" color: black">Nombre: </h4>
					<label for="colFormlabelSm" th:text="${cliente.nombre}" style=" color: black"></label>
				</div>
				<div class="card">
					<h4 style=" color: black">Email: </h4>
					<label for="colFormlabelSm" th:text="${cliente.email}" style=" color: black"></label>
				</div>
				<div class="card">
					<h4 style=" color: black">Telefono: </h4>
					<label for="colFormlabelSm" th:text="${cliente.telefono}" style=" color: black"></label>
				</div>
				<div class="card">
					<h4 style=" color: black">Credito: </h4>
					<label for="colFormlabelSm" th:text="${cliente.credito}" style=" color: black"></label>
				</div>		
			</form>
        </div>
      </div> 
    </div>
  </div>
  
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 1000px; height: 500px">
    <div class="my-3 p-3">
      <h2 class="display-5">Direcciones del cliente</h2>
      <p class="lead">Elija una direccion del cliente para el pedido.</p>
      <table  class="table table-hover" >
	<thead class="thead-dark">
		<tr>
			<th>Tipo de direccion</th>
			<th>Direccion</th>
			<th></th>
		</tr>
	</thead>
	<tr th:each="tmpDireccion:${direcciones}">
		<td th:text="${tmpDireccion.tipo}"></td>
		<td th:text="${tmpDireccion.direccion}"></td>
	<td>
		<a href= "#" class="btn btn-outline-success my-2 my-sm-0" type="submit">Seleccionar</a>
	</td>
	</tr>
	</table>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 1000px">
    <div class="my-3 p-3">
    
      <h2 class="display-5">Identificacion del pedido</h2>
    <table  class="table table-hover" >
	<thead class="thead-dark">
		<tr>
			<th>Id del cliente</th>
			<th>Id del pedido</th>
		</tr>
	</thead>
	<tr>
		<td th:text="${cliente.idCliente}"></td>
		<td th:text="${pedido.idPedido}"></td>
	</tr>
	</table>
	
	<h2 class="display-5">Direccion de entrega</h2>
	<table  class="table table-hover" >
	<thead class="thead-dark">
		<tr>
			<th>Id del cliente</th>
			<th>Id del pedido</th>
		</tr>
	</thead>
	<tr>
	<td th:text="${cliente.idCliente}"></td>
	<td th:text="${pedido.idPedido}"></td>
	</tr>
	</table>
	
	<h2 class="display-5">Listado de productos agregados</h2>
	<table  class="table table-hover" >
	<thead class="thead-dark">
		<tr>
			<th>Nombre</th>
			<th>Unidad</th>
			<th>precio</th>
			<th>cantidad en el pedido<th>
			<th></th>
		</tr>
	</thead>
	<tr th:each="producto:${agregados}">
	<td th:text="${producto.nombre}"></td>
	<td th:text="${producto.unidad}"></td>
	<td th:text="${producto.precio}"></td>
	<td th:text="${producto.cantidad}"></td>
	<td>
		<a href= "#" class="btn btn-outline-danger" type="submit">Remover</a>
	</td>
	</tr>
	</table>
      
    </div>
  </div>
  
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 1000px">
    <div class="my-3 py-3">
      <h2 class="display-5">Productos disponibles</h2>

			<table  class="table table-hover" >
				<thead class="thead-dark">
					<tr>
						<th style="width: 90px">Id</th>
						<th>Nombre del producto</th>
						<th>Unidad</th>
						<th>Precio</th>
						<th style="width: 90px">cantidad</th>
						<th></th>
					</tr>
				</thead>
				<tr th:each="p:${inventario}">
					<form th:action="@{/sistema/agregarProducto}" method="post">
						<td style=" color: #ffffff">
								<input class="form-control mr-sm-2" type="number"
									placeholder="" aria-label="Search" id="idProducto" th:value="${p.idProducto}" name="idProducto" readonly="true" style="width: 80px">
						</td>
						<td th:text="${p.nombre}" style=" color: white"></td>
						<td th:text="${p.unidad}" style=" color: white"></td>
						<td th:text="${p.precio}" style=" color: white"></td>
						<td>

						<input class="form-control mr-sm-2" type="number"
									placeholder="" aria-label="Search" id="cantidad" name="cantidad" min="1" th:max="${p.cantidad}" style="width: 80px">

						</td>
						<td>
							<input type="hidden" id="idPedido" name="idPedido" th:value="${pedido.idPedido}" style="width: 80px">
							<input type="hidden" id="idCliente" name="idCliente" th:value="${cliente.idCliente}" style="width: 80px">
							<button class="btn btn-success" type="submit">Agregar</button>
						</td>
					</form>
				</tr>
			</table>


    </div>
  </div>
  
</div>

</main>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>